<div class="container">
  <h2>TODO</h2>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    @for (item of todo; track item) {
      <div class="example-box" cdkDrag>{{item}}</div>
    }
  </div>
</div>

<div class="container">
  <h2>DOING</h2>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="doing"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    @for (item of doing; track item) {
      <div class="example-box" cdkDrag>{{item}}</div>
    }
  </div>
</div>

<div class="container">
  <h2>DONE</h2>
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    @for (item of done; track item) {
      <div class="example-box" cdkDrag>{{item}}</div>
    }
  </div>
</div>


